.wrapper{
    width: 100%;
    
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    max-width: 1150px;
    padding: 12px 15px ;
    margin-top: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 35px;
}
.logo{
    width: 135px !important;
    height: 44px;
   
}
ul{
    display: flex;
    gap: 15px;
    align-items: center;
}
li{
    text-transform: uppercase;
    color: #f0f0f0;
    font-size: 13px;
}
.bnt{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
}
select{
    color: #f0f0f0;
    background-color: #000;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
}
.news{
    width: 100% !important;
    height: 800px !important;
    background-color: #ef0000 !important;
}
.content{
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    width: 367px;
    height: 398px;
}
.text{
    color: #ef0000;
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 25px;
    color: #161616;
    margin-bottom: 22px;
    border-left: 3px solid blue;
    padding-left: 10px;
}
.title{
    font-size: 17px;
    color: #161616;
    margin-top: 25px;
    margin-bottom: 5px;
}
span{
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.para{
    margin-top: 10px;
}